<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.binns.flagsoftheworld"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo" >
        <activity
            android:name="com.binns.flagsoftheworld.WelcomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.binns.flagsoftheworld.EasyGameActivity"
            android:label="@string/title_activity_easy_game" >
        </activity>
        <activity
            android:name="com.binns.flagsoftheworld.EndGameActivity"
            android:label="@string/title_activity_end_game" >
        </activity>
    </application>

</manifest>